@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* .carousel .control-arrow:hover,
.carousel .control-arrow:focus {
  background-color: #ff5733; 
  color: red; 
} */

/* Customize the arrow color when active
.carousel .control-arrow.carousel-slider .control-arrow.active {
  background-color: #ff5733; 
  color: red; 
} */

/* Customize the arrow color when disabled
.carousel .control-arrow.carousel-slider .control-arrow.inactive {
  background-color: #ddd; 
  color: red; 
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Chat bot css */
.react-chatbot-kit-chat-container {
  /* box-sizing: border-box; */
  height: 80vh;
}

.react-chatbot-kit-chat-inner-container {
  height: 75vh;
}
.react-chatbot-kit-chat-message-container {
  height: 63vh;
}
